{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{% trans "Thaw account" %} #{{ account.id }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts_dashboard:accounts-list' %}">{% trans "Accounts" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts_dashboard:accounts-detail' account.id %}">{{ account }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Thaw account" %} #{{ account.id }}</li>
    </ol>
</nav>
{% endblock %}

{% block headertext %}{% trans "Thaw account?" %}{% endblock %}

{% block dashboard_content %}
    {% include 'accounts/dashboard/partials/account_detail.html' %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-success">{% trans "Thaw" %}</button>
    </form>
{% endblock dashboard_content %}
