{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{% trans "Transfers" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts_dashboard:accounts-list' %}">{% trans "Accounts" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Transfers" %}</li>
    </ol>
</nav>
{% endblock %}

{% block headertext %}{% trans "Transfers" %}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-search"></i> {% trans "Search" %}</h3>
    </div>

    <div class="card card-body">
        <form method="get" class="form-inline">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
            <button type="submit" class="btn btn-primary mr-2" data-loading-text="{% trans 'Searching...' %}">
                {% trans "Search" %}
            </button>
            <a href="{% url 'accounts_dashboard:transfers-list' %}" class="btn btn-secondary">{% trans "Reset" %}</a>
        </form>
    </div>

    <div class="table-header">
        <h2><i class="fas fa-file"></i> {{ queryset_description }}</h2>
    </div>

    {% if transfers %}
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>{% trans "Reference" %}</th>
                <th>{% trans "Source" %}</th>
                <th>{% trans "Destination" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Order number" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Authorised by" %}</th>
                <th>{% trans "Date created" %}</th>
            </tr>
            {% for transfer in transfers %}
            <tr>
                <td><a href="{% url 'accounts_dashboard:transfers-detail' transfer.reference %}">{{ transfer.reference }}</a></td>
                <td><a href="{% url 'accounts_dashboard:accounts-detail' transfer.source.id %}">{{ transfer.source }}</a></td>
                <td><a href="{% url 'accounts_dashboard:accounts-detail' transfer.destination.id %}">{{ transfer.destination }}</a></td>
                <td>{{ transfer.amount|currency }}</td>
                <td>{{ transfer.merchant_reference|default:"-" }}</td>
                <td>{{ transfer.description|default:"-" }}</td>
                <td>{{ transfer.user|default:"-" }}</td>
                <td>{{ transfer.date_created }}</td>
            </tr>
            {% endfor %}
        </table>
        {% include "oscar/partials/pagination.html" %}
    {% else %}
    <table class="table table-striped table-bordered table-hover">
        <tr><td>{% trans "No transfers found." %}</td></tr>
    </table>
    {% endif %}

{% endblock dashboard_content %}
