{% extends "oscar/layout.html" %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans 'Check my balance' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Accounts' %}</li>
    </ol>
</nav>
{% endblock %}

{% block headertext %}{% trans 'Check balance of giftcard' %}{% endblock %}

{% block content %}

    {% if is_blocked %}
        <p>{% trans "Your IP address is currently blocked.  Please try again later." %}</p>
    {% else %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% include 'oscar/partials/form_fields.html' %}
            <button type="submit" class="btn btn-lg">{% trans "Fetch account details" %}</button>
        </form>
    {% endif %}

    {% if account %}
        <table id="" class="table">
            <tbody>
                <tr>
                    <th>{% trans "Code" %}</th>
                    <td>{{ account.code }}</td>
                </tr>
                <tr>
                    <th>{% trans "Balance" %}</th>
                    <td>{{ account.balance|currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Status" %}</th>
                    <td>{{ account.status }}</td>
                </tr>
                {% if account.start_date %}
                    <tr>
                        <th>{% trans "Start date" %}</th>
                        <td>{{ account.start_date }}</td>
                    </tr>
                {% endif %}
                {% if account.end_date %}
                    <tr>
                        <th>{% trans "End date" %}</th>
                        <td>{{ account.end_date }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
