{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{% trans "Top-up account" %} #{{ account.id }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
		<a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
		<a href="{% url accounts-list %}">{% trans "Accounts" %}</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">{% trans "Top up account" %} #{{ account.id }}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
	<h1>{% trans "Top up account?" %}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}
	{% include 'dashboard/accounts/partials/account_detail.html' %}

	{% if account.is_open %}
	<form action="." method="post">
		{% csrf_token %}
		<legend>Transaction</legend>
		{% include 'partials/form_field.html' with field=form.source_account %}
		{% include 'partials/form_field.html' with field=form.amount %}
		<button type="submit" class="btn btn-large btn-success">{% trans "Save" %}</button>
	</form>
	{% else %}
	<p>{% trans "This account cannot be topped-up." %}</p>
	{% endif %}

{% endblock dashboard_content %}
