{% extends 'oscar/checkout/payment_details.html' %}
{% load currency_filters %}

{% block payment_details %}
<div class="sub-header">
	<h2>Enter payment details</h2>
</div>

{% if not allocation_form %}
    {# 1. Initial load of page - show form to look up account if they are not blocked #}
	{% if is_blocked %}
	<p>You are blocked.</p>
	{% else %}
	<form action="." method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="select_account" />
		{% include 'partials/form_fields.html' with form=account_form %}
		<button type="submit" class="btn btn-primary">Check balance</button>
	</form>
	{% endif %}
{% else %}
	{# 2. An account has been found - choose allocation #}
	{% with account=allocation_form.account %}
	<h3>Account</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<td>{{ account.name }}</td>
		</tr>
		{% if account.description %}
		<tr>
			<th>Description</th>
			<td>{{ account.description }}</td>
		</tr>
		{% endif %}
		{% if account.end_date %}
		<tr>
			<th>Expiry date</th>
			<td>{{ account.end_date }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Balance</th>
			<td>{{ account.balance|currency }}</td>
		</tr>
	</table>
	{% endwith %}
	<h3>Choose allocation</h3>
	<p>The order total is {{ order_total_incl_tax|currency }}.</p>
	<form action="." method="post">
		{% csrf_token %}
		{# Include account form hidden #}
		<div style="display:none">
			{{ account_form.as_p }}
		</div>
		<input type="hidden" name="action" value="allocate" />
		{% include 'partials/form_fields.html' with form=allocation_form %}
		<button type="submit" class="btn btn-primary btn-large">Allocate</button> or
		<a href="{% url checkout:payment-details %}">cancel</a>.
	</form>
{% endif %}

{% if account_allocations %}
	<h3>Allocations</h2>
	<form action="." method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="remove_allocation" />
		<table id="" class="table">
			<thead>
				<tr>
					<th>Account code</th>
					<th>Allocation</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for code, amount in account_allocations.items %}
					<tr>
						<td>{{ code }}</td> 
						<td>{{ amount|currency }}</td>
						<td>
							<button type="submit" class="btn" name="remove_{{ code }}">Remove</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
{% endif %}


{% if to_allocate == 0 %}
<a href="{% url checkout:preview %}" class="btn btn-primary btn-large">Continue</a>
{% else %}
<p>Order total: {{ order_total_incl_tax|currency }}.  You need to allocate another
	{{ to_allocate|currency }}</p>
{% endif %}

{% endblock %}
